<!doctype html>
<html lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="MI - Intelligence center">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<title>Talview</title>
<link rel="shortcut icon" type="image/x-icon" href="assets/images/ic.ico">

<!-- Google icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Bootstrap css -->
<!-- build:[href] assets/css/ -->
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<!-- /build -->

<!-- Propeller css -->
<!-- build:[href] assets/css/ -->
<link rel="stylesheet" type="text/css" href="assets/css/propeller.min.css">
<!-- /build -->

<!-- Propeller theme css-->
<link rel="stylesheet" type="text/css" href="themes/css/propeller-theme.css" />

<!-- Propeller admin theme css-->
<link rel="stylesheet" type="text/css" href="themes/css/propeller-admin.css">

<style>
	body{
		margin-top: 50px;
	}
</style>

</head>

<body class="body-custom" ng-app="myApp" ng-controller="authCtrl">
<div class="col-lg-4"></div>
<div class="col-lg-4">
	<div class="logincard">
		<div class="pmd-card card-default pmd-z-depth">
			<div class="login-card">
				<form name="loginForm">
					<div class="pmd-card-title card-header-border text-center">
						<div class="loginlogo">
							<a href="javascript:void(0);" style="background: linear-gradient(90deg, rgba(33, 186, 73, 0.9), rgba(25, 43, 71, 0.9));"><img src="https://www.talview.com/img/mockup/logo_white.png" style="width: 70px" alt="Logo"></a>
						</div>
						<h3>Sign In <span>to <strong>Talview</strong></span></h3>
					</div>

					<div class="pmd-card-body">

						<div class="form-group pmd-textfield pmd-textfield-floating-label">
							<label  class="control-label pmd-input-group-label">Username</label>
							<div class="input-group">
								<div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
								<input type="text" class="form-control" ng-model="authLogin.username" id="loginUserName" name="loginUserName">
							</div>
						</div>

						<div class="form-group pmd-textfield pmd-textfield-floating-label">
							<label  class="control-label pmd-input-group-label">Password</label>
							<div class="input-group">
								<div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
								<input type="password" class="form-control" ng-model="authLogin.password" id="loginUserPassword" name="loginUserPassword">
							</div>
						</div>
					</div>
					<div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">

						<button type="button" id="btnLogin" ng-click="login()" class="btn pmd-ripple-effect btn-primary btn-block" >login</button>

					</div>

				</form>
			</div>

		</div>
	</div>
</div>
<div class="col-lg-4"></div>


<!-- Scripts Starts -->
<!-- build:[src] assets/js/ -->
<script src="assets/js/jquery-1.12.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/propeller.min.js"></script>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>


<script src="script/config/config.js"></script>
<script src="script/module/login.js"></script>
<script src="script/controller/auth/authCtrl.js"></script>
<script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js"></script>
<script src="otherJS/github/auth.js"></script>
</body>
</html>